<div class="container">
  <div class="col-lg-6 col-md-6">
    <label for="">Current recipes</label>
    <div class="well">

    </div>
  </div>
  <div class="col-lg-6 col-md-6">
    <label for="">Create recipe</label>
    <div class="well">

    </div>
  </div>
</div>
